<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Inventory</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("navbar") %>
    
    <h1>Models</h1>
    <a href="/model/new">Add Model</a>
    <% if(models.length === 0) { %>
        <p>No models in inventory.</p>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Make</th>
                    <th>Type</th>
                    <th>Vehicle Count</th>
                </tr>
            </thead>
            <tbody>
                <% for(const model of models) { %>
                    <tr>
                        <td><%= model.model_name %></td>
                        <td><%= model.make_name %></td>
                        <td><%= model.vehicle_type_name %></td>
                        <td><%= model.vehicle_count %></td>
                        <td>
                            <form action="/model/delete/<%- model.id %>" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>
</body>
</html>